.x{
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}


.form-control{
    width: 300px;
}
svg{
    height: 50px;
    width: 50px;
}
button[type="submit"]
{
    width: 300px;
}
#footer
{
    position: absolute;
    bottom: 0%;
    width: 100%;
}