
    #b2{
        margin-left: 4px;
    }
    #con{
        height: 15cm;
    }
    #image{
        width: 350px;
        margin-right: 500px;
    }
    #fontcolor{
        color: rgba(245, 87, 108, 1);
    }
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
