body
{
   background-color: midnightblue;
}
.bright {
    color: rgb(255, 3, 255);
    font-family: Rockwell;
  }
  #PF{
    font-family: Georgia, serif;   
     color: aliceblue;
     width: 20%;

  }
  #Q{
    font-family: Georgia, serif;  
      color: aliceblue;

  }
  #F{
    font-family: Georgia, serif;  
      color: rgb(236, 198, 28);
  }
  #H
  {
    color: gold;
  }
  #D
  {
    font-size: 30px;
    color: aqua;
  }
  .button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
  
.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
  }
