
#D{
  background-image: url(C:\Users\USER\Documents\GitHub\studyRepo\clientSide\my-app\public\image.jpg)  ;
  background-size: cover;
  height: 100vh;
    
}
  #PF{
    font-family: Georgia, serif;   
     color: aliceblue;
     position: relative;
     left: 0%;

  }
  #sm{
    position: relative;
  }
  #Q{
    font-family: Georgia, serif;  
      color: aliceblue;
      font-size: 50px;
  }
  #F{
    font-family: Georgia, serif;  
      color: rgb(236, 198, 28);
  }
  
  .button_slide {
    color: #FFF;
    border: 2px solid rgb(254, 254, 254);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #410c6b;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  
.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #5c04ae;
  }
